.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 12px;
  box-sizing: border-box;
  height: inherit;

  .container {
    padding: 0;
  }
}

@media (max-width:  1200px) {
  .container {
    max-width: 960px;
  }
}



@media (max-width:  860px) {
  .container {
    max-width: 600px;
    padding: 0 10px;
  }
}

@media (max-width:  640px) {
  .container {
    max-width: initial;
    padding: 0 20px;
  }
}
