:root {
  --font-family: "Roboto", sans-serif;
  --blue: #0170ae;
  --black: #222;
  --brown: #755858;
  --green: #61a91a;
  --white: #fff;
  --light-blue: #eef8ff;
  --bg-color: #e5e5e5;
  --btn-blue: #2fa6ea;
}